<%= flash[:notices].join(", ") if flash[:notices] %>
<p class="errors"><%= flash[:errors].join(", ") if flash[:errors] %></p>

<form class="authentication" action="<%= action %>" method="POST">
  <% if button_text == "Update" %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= form_auth_token %>

<% if button_text == "Sign Up" || button_text == "Update" %>
  <input
    id="fname"
    type="text"
    name="user[fname]"
    placeholder="First Name"
    value="<%= @user.fname %>">

  <input
    id="lname"
    type="text"
    name="user[lname]"
    placeholder="Last Name"
    value="<%= @user.lname %>">

  <select class="select-section" name="user[section_id]">
    <option></option>
    <% @sections.each do |section| %>
      <option value="<%= section.id %>" <%= "selected" if section.id == @user.section_id %>>
        <%= section.name || section.year %></option>
    <% end %>
  </select>
<% end %>

  <input
    id="email"
    type="text"
    name="user[email]"
    placeholder="Email"
    value="<%= @user.email %>">

  <input
    id="password"
    type="password"
    placeholder="Password"
    name="user[password]">

  <button><%= button_text %></button>
</form>
