<!DOCTYPE html>
<html>
<head>
  <title>Genealogy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:errors].join(", ") if flash[:errors] %>
<%= flash[:notices].join(", ") if flash[:notices] %>
<%= button_to "Sign Out", session_url, method: :delete if signed_in? %>
<%= yield %>

</body>
</html>
